<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <h2><strong>Login: </strong><%= @user.login %></h2>
    <p class="lead">
      Role:
      <% if @user.admin? %>
        Admin
      <% else %>
        User
      <% end %>
    </p>
    <% unless @user.login == "admin" || @user.login == current_user.login %>
      <%= simple_form_for @user do |f| %>
        <%= f.input :role, :placeholder => "Might be admin" %>
        <%= f.submit "Update", :class => "btn btn-primary" %>
      <% end %>
    <% end %>

  </div>
</div>